@font-face {
    font-family: 'Lato', sans-serif;
    src: url("../assets/fonts/Lato-Regular.ttf") format("ttf"),

}

:root {
    --yellow: #fefe10;
    --yellow-bold: #c4c408;
    --yellow-light: #fefe103d;
}

body, html, main {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    background: black;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer p {
    color: white;
}

p {
    font-size: 1.6rem;
}

p, h1, h2, h3 {
    text-align: center;
}


section, .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 5rem 0;
}

.container {
    max-width: 140rem;
    padding: 0 2rem;

}

.click-me {
    width: max(40vw, 30rem);
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--yellow);
    margin: 2rem auto;
    transition: all 0.3s;
    border: solid 1px rgb(221, 221, 4);
    cursor: pointer;
}

.click-me:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 60px 3px var(--yellow);
}


.click-me a {
    text-decoration: none;
    color: black;

}


/*Banner section 1*/

.banner {
    background-image: url('../assets/images/BACKGROUND.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: 0;
}

.bg-poster-girl {
    background-image: url('../assets/images/MARINA.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
    position: relative;
}


.bg-poster-girl h1, h2, h3 {
    font-size: 2.5rem;
}

.info-banner {
    margin-left: min(2vw, 4vw);
    margin-top: max(2rem, 2vw);
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.emphasis {
    background-image: radial-gradient(circle at center, white, var(--yellow));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}


.value-investment h3 {
    font-weight: 100;
    background-image: radial-gradient(circle at center, lightgray, gray);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: gray;
}

.value-investment h2 {
    font-size: 5rem;
}

.wrapper-img-banner {
    max-width: 40rem;
    max-height: 30rem;
    overflow: hidden;
    align-self: center;

}

.quiosque-smart {
    max-width: 100%;
    object-fit: cover;
}

.gap {
    margin: 1.5rem 0;
}

.formulario-bitrix {
    position: absolute;
    inset: 0 50%;
    transform: translate(-50%, 20%);
    width: 50rem;
    z-index: 2;
}


/* senction 2 */

.benefits {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    row-gap: 2rem;

}

.benefits h3 {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

.benefits-wrapper-img {
    display: grid;
    place-items: center;

}


.benefits img {
    max-width: 40rem;
    width: 30rem;
    margin: 10rem auto;
    margin-bottom: 3rem;

}

.list-benefits {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0 8rem;
    height: 100%;
    justify-content: center;

}

.wrapper-benefits {
    height: 100%;
    display: grid;
    justify-self: center;

}

.list-benefits img {
    max-width: 10rem;
}

.list-benefits p {
    font-weight: 500;
    color: var(--yellow);

}

.margin-1, .margin-5 {
    margin-top: 33%;

}

.margin-2, .margin-4 {
    margin-top: 66%;

}

.margin-3 {
    margin-top: 99%;

}


/* senction 3 */

.investment {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: white;
    gap: 20rem 0;
    background-color: rgba(0, 0, 0, 0.795);
}

.investment h3 {
    font-weight: normal;
}

.investment p {
    max-width: 30rem;
    font-weight: 500;
    color: var(--yellow);
}

.investment img {
    max-width: 15rem;

}

.investment-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 2rem 7vw;
}

.investment-wrapper div {
    display: grid;
    place-items: center;
    row-gap: 3rem;
}

/* section 4 */
.section-4 {
    flex-direction: column;
}

.expansion {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.expansion button {
    width: 100%;

}

.expansion h3 {
    color: white;
    font-weight: normal;

}

.expansion-wrapper {
    flex-basis: 45%;
}

.expansion-wrapper div {
    display: grid;
    place-items: center;
}

.graphic {
    margin-bottom: 30rem;

}

.expansion img {
    max-width: 50rem;
    margin: 2rem 0;
}

.icon-process {
    width: 30rem;
}

/* section 4 */

.testimony, .choice {
    color: white;
    display: grid;
    place-items: center;
    row-gap: 3rem;
    width: 100%;

}

.testimony div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.testimony img {
    max-width: 40rem;
    width: 30rem;
    margin: 0 auto;
}

.testimony p {
    max-width: 40rem;

    font-size: 2rem;
}

/* section 5 */

.border-gold {
    display: grid;
    place-items: center;
}

.border-gold img {
    margin-bottom: 2rem;
}

.obs {
    font-size: 0.9rem;
}

@media screen and (min-width: 1920px) {
    .quiosque-smart {
        max-width: 95%;
    }
}


@media screen and (max-width: 992px) {
    .banner, .bg-poster-girl {
        height: auto;
    }


    .formulario-bitrix {
        position: static;
        transform: none;
        width: 95vw;
        margin: 0 auto;

    }

    .margin-1,
    .margin-2,
    .margin-3,
    .margin-4,
    .margin-5 {
        margin-top: 0%;

    }
}

@media screen and (max-width: 558px) {

    section, .container {
        margin: 0;
    }

    .benefits img {
        max-width: 35rem;
    }

    .benefits h3 {
        font-size: 2rem;
    }

    .list-benefits {
        row-gap: 3rem;
        font-size: 1rem;
    }

    .list-benefits img {
        max-width: 5rem;
    }

    .investment {
        gap: 5rem 0;
    }

    .investment img {
        max-width: 6rem;
    }

    .investment p {
        font-size: 1.4rem;
    }

    .expansion {
        justify-content: center;
        flex-wrap: wrap;
    }

    .expansion img {
        max-width: 35rem;
        margin: 2rem 0;
    }

    .graphic {
        margin-bottom: 0;
    }

    .testimony {
        row-gap: 0rem;
    }

    .testimony div {
        flex-wrap: wrap;
    }

    .testimony iframe {
        width: 95vw;
    }

    .choice {
        grid-template-rows: 30% 50%;
        row-gap: 0;
    }

    .wrapper-choice img {
        max-width: 15rem;
    }
}