body {
    background-image: url('../IMG/BACKGROUND.png');
}

h1 span {
    display:flex;     
    color:white;
}
h2{
    color: yellow;
}
h3 {
    color: white;
    text-decoration: inherit;
}
#div .img{
    position: top;
    width: fit-content;

}


